.collapsible {
  cursor: pointer;
  padding: 5px;
  width: 100%;
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.add-btn {
  width: 100%;
}

.hidden {
  display: none;
}

.download-import {
  padding-bottom: 10px;
}

.delete-item {
  align-self: center;
}

.delete-item-icon {
  width: 35px !important;
  height: auto !important;
}

.collapsible-title {
  display: flex;
  justify-content: space-between;
}